samples/nodered-sample-flow.txt
[{"id":"4a609b08.3eb47c","type":"twilio-api","z":"","sid":"AC6a114137969f88028a707f1e3ad5ad73","from":"+3584573970705","name":"Twilio SMS"},{"id":"613b1075.dccb2","type":"ibmiot","z":"571123a7.117434","name":"n8vl2y"},{"id":"e6ea9982.16d5e","type":"inject","z":"571123a7.117434","name":"closed","topic":"","payload":"closed","payloadType":"string","repeat":"","crontab":"","once":false,"x":88,"y":530.8055419921875,"wires":[["ce0ec772.0a9408"]]},{"id":"d49da5ed.aed3","type":"inject","z":"571123a7.117434","name":"open","topic":"","payload":"open","payloadType":"string","repeat":"","crontab":"","once":false,"x":87,"y":582.8055419921875,"wires":[["ce0ec772.0a9408"]]},{"id":"ce0ec772.0a9408","type":"function","z":"571123a7.117434","name":"BUS-1 doors","func":"var commandValue = msg.payload;\nvar setPropertyMsg = {\n        deviceId: \"BUS\",\n        deviceType: \"Vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": \"BUS-1\",\n               \"property\": \"doors\",\n               \"value\": commandValue\n        })\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": \"BUS-1\",\n               \"text\": \"Doors \" + commandValue,\n               \"duration\": 5000\n        })\n}\nreturn [ [setPropertyMsg, addOverlayMsg] ];","outputs":1,"noerr":0,"x":316,"y":556.8055419921875,"wires":[["eee07d4.8c1bd8"]]},{"id":"eee07d4.8c1bd8","type":"ibmiot out","z":"571123a7.117434","authentication":"apiKey","apiKey":"613b1075.dccb2","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"Send control command","service":"registered","x":563,"y":633.8055419921875,"wires":[]},{"id":"69b56a78.0a0c34","type":"inject","z":"571123a7.117434","name":"Stop","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":89.00001525878906,"y":657.8055419921875,"wires":[["599e5b46.976a3c"]]},{"id":"c0a81f52.55f92","type":"inject","z":"571123a7.117434","name":"Drive 15 km/h","topic":"","payload":"15","payloadType":"string","repeat":"","crontab":"","once":false,"x":107.00001525878906,"y":711.8055419921875,"wires":[["599e5b46.976a3c"]]},{"id":"599e5b46.976a3c","type":"function","z":"571123a7.117434","name":"BUS-1 speed","func":"var commandValue = msg.payload;\nvar setPropertyMsg = {\n        deviceId: \"BUS\",\n        deviceType: \"Vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": \"BUS-1\",\n               \"property\": \"speed\",\n               \"value\": parseInt(commandValue, 10)\n        })\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": \"BUS-1\",\n               \"text\": \"Speed \" + commandValue + \" km/h\",\n               \"duration\": 5000\n        })\n}\nreturn [ [setPropertyMsg, addOverlayMsg] ];","outputs":1,"noerr":0,"x":316,"y":726.8055419921875,"wires":[["eee07d4.8c1bd8","8371f6b0.8c1c6"]]},{"id":"9824dd3.88a63a","type":"inject","z":"571123a7.117434","name":"Drive 30 km/h","topic":"","payload":"30","payloadType":"string","repeat":"","crontab":"","once":false,"x":107.00001525878906,"y":759.8055419921875,"wires":[["599e5b46.976a3c"]]},{"id":"bd13ea3e.f2e36","type":"inject","z":"571123a7.117434","name":"Drive 50 km/h","topic":"","payload":"50","payloadType":"string","repeat":"","crontab":"","once":false,"x":106.00001525878906,"y":810.8055419921875,"wires":[["599e5b46.976a3c"]]},{"id":"79421e4d.257bf","type":"ibmiot in","z":"571123a7.117434","authentication":"apiKey","apiKey":"613b1075.dccb2","inputType":"evt","deviceId":"BUS-1","applicationId":"","deviceType":"Vehicle","eventType":"telemetry","commandType":"","format":"json","name":"BUS-1 motion data","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"x":110.75001525878906,"y":84.5555419921875,"wires":[["7e90541c.7cf8e4","79d6d293.0a337c"]]},{"id":"7e90541c.7cf8e4","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"true","x":324.638916015625,"y":61,"wires":[]},{"id":"6eb0a093.9b45d","type":"switch","z":"571123a7.117434","name":"Doors open?","property":"payload.doors","rules":[{"t":"eq","v":"open"}],"checkall":"false","outputs":1,"x":753.7499847412109,"y":111.5555419921875,"wires":[["224762c7.a06f5e","a9a0e986.487288"]]},{"id":"4f068d48.b82f8c","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"payload","x":1189.75,"y":65.5555419921875,"wires":[]},{"id":"79d6d293.0a337c","type":"switch","z":"571123a7.117434","name":"Vehicle moving?","property":"payload.speed","rules":[{"t":"gt","v":"0"}],"checkall":"true","outputs":1,"x":354.75,"y":111.5555419921875,"wires":[["ae083917.0c03a"]]},{"id":"224762c7.a06f5e","type":"template","z":"571123a7.117434","name":"Alert message","field":"","format":"handlebars","template":"Vehicle seems to be moving with doors OPEN!","x":973.75,"y":111.5555419921875,"wires":[["4f068d48.b82f8c"]]},{"id":"e64cbbfc.2690e8","type":"twilio out","z":"571123a7.117434","service":"_ext_","twilio":"4a609b08.3eb47c","from":"","number":"+358407256086","name":"Send doors alert","x":1204.75,"y":111.5555419921875,"wires":[]},{"id":"ae083917.0c03a","type":"trigger","z":"571123a7.117434","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"15","extend":true,"units":"min","name":"","x":545.75,"y":112.5555419921875,"wires":[["41ec1fec.b83918","6eb0a093.9b45d"]]},{"id":"41ec1fec.b83918","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"false","x":738.7499847412109,"y":62.5555419921875,"wires":[]},{"id":"a9a0e986.487288","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"false","x":971.7499847412109,"y":64.5555419921875,"wires":[]},{"id":"2de1e9cf.fa5d86","type":"ibmiot in","z":"571123a7.117434","authentication":"boundService","apiKey":"613b1075.dccb2","inputType":"cmd","deviceId":"geospatial","applicationId":"","deviceType":"api","eventType":"","commandType":"","format":"json","name":"Get Geo Alerts","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":true,"allFormats":true,"x":100.75001525878906,"y":282.5555419921875,"wires":[["c944ee3b.760348","e8f66fc4.a6f0d"]]},{"id":"19ea8730.2fdfc1","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"payload","x":548.75,"y":234.5555419921875,"wires":[]},{"id":"a27b6c4.417de1","type":"twitter in","z":"571123a7.117434","twitter":"","tags":"#jrtraffic car1","user":"dm","name":"Control by Tweets","topic":"tweets","x":111.00001525878906,"y":434.8055419921875,"wires":[["b821231a.fa0908","9b01071c.922518"]]},{"id":"9b01071c.922518","type":"function","z":"571123a7.117434","name":"Parse tweet","func":"var tweetText = msg.payload;\nloCaseText = tweetText.toLowerCase();\ncommandValues = loCaseText.split(\" \");\nvehicle = commandValues[0];\ncommand = commandValues[1];\nreturn {payload:{\"vehicle\":vehicle,\"command\":command}};","outputs":1,"noerr":0,"x":313,"y":434.8055419921875,"wires":[["65461a8b.c2ff7c","4eaebcb2.12daec"]]},{"id":"b821231a.fa0908","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"false","x":315,"y":382.8055419921875,"wires":[]},{"id":"65461a8b.c2ff7c","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"true","x":512,"y":435.8055419921875,"wires":[]},{"id":"4eaebcb2.12daec","type":"function","z":"571123a7.117434","name":"BUS doors","func":"var carValue = msg.payload.car.toUpperCase();\nvar commandValue = msg.payload.command.toLowerCase();\nvar setPropertyMsg = {\n        deviceId: \"BUS\",\n        deviceType: \"Vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": carValue,\n               \"property\": \"doors\",\n               \"value\": commandValue\n        })\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": carValue,\n               \"text\": \"Doors \" + commandValue,\n               \"duration\": 5000\n        })\n}\nreturn [ [setPropertyMsg, addOverlayMsg] ];","outputs":1,"noerr":0,"x":313,"y":490.8055419921875,"wires":[["eee07d4.8c1bd8","4c23b3d9.ac5f54"]]},{"id":"4c23b3d9.ac5f54","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"true","x":513,"y":492.8055419921875,"wires":[]},{"id":"d2c2bfa0.e15ff","type":"twilio out","z":"571123a7.117434","service":"_ext_","twilio":"4a609b08.3eb47c","from":"","number":"","name":"Send region alert","x":796,"y":281.6944580078125,"wires":[]},{"id":"7ff10417.64d614","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"false","x":783,"y":232.6944580078125,"wires":[]},{"id":"e9a2037b.c3586","type":"template","z":"571123a7.117434","name":"Send notification","field":"","format":"handlebars","template":"You have arrived at {{payload.region}}","x":567,"y":283.6944580078125,"wires":[["7ff10417.64d614"]]},{"id":"c944ee3b.760348","type":"debug","z":"571123a7.117434","name":"","active":true,"console":"false","complete":"true","x":315,"y":231.6944580078125,"wires":[]},{"id":"b7bdb6b2.d1c458","type":"inject","z":"571123a7.117434","name":"Test alert message","topic":"","payload":"Vehicle is moving with doors open!","payloadType":"string","repeat":"","crontab":"","once":false,"x":118,"y":176.6944580078125,"wires":[["4eb8d426.9b2a7c"]]},{"id":"df2d36d1.e98698","type":"ibmiot out","z":"571123a7.117434","authentication":"apiKey","apiKey":"613b1075.dccb2","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"Send control command","service":"registered","x":575,"y":175.6944580078125,"wires":[]},{"id":"4eb8d426.9b2a7c","type":"function","z":"571123a7.117434","name":"Send overlay message","func":"var commandValue = msg.payload;\n\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": \"BUS-1\",\n               \"text\": commandValue,\n               \"duration\": 5000\n        })\n}\nreturn [ [addOverlayMsg] ];","outputs":1,"noerr":0,"x":336,"y":176.6944580078125,"wires":[["df2d36d1.e98698"]]},{"id":"8371f6b0.8c1c6","type":"debug","z":"571123a7.117434","name":"","active":false,"console":"false","complete":"false","x":532,"y":724.6944580078125,"wires":[]},{"id":"e8f66fc4.a6f0d","type":"function","z":"571123a7.117434","name":"Geofence for BUS-1","func":"msg.payload = { \n    time: msg.payload.time, \n    id: msg.payload.deviceInfo.id, \n    lon: msg.payload.deviceInfo.location.longitude, \n    lat: msg.payload.deviceInfo.location.latitude, \n    eventType: msg.payload.eventType, \n    region: msg.payload.regionId \n    } \nif (msg.payload.id == \"BUS-1\") { return msg; }","outputs":1,"noerr":0,"x":331,"y":282.6944580078125,"wires":[["19ea8730.2fdfc1","e9a2037b.c3586"]]}]